@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll {
  animation: scroll 30s linear infinite;
  display: flex;
  gap: 2rem;
}

.scroll:hover {
  animation-play-state: paused;
}
